In [13]:
# import splinter and beautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [4]:
#visit the mars nasa news site
url = "https://mars.nasa.gov/news/"
browser.visit(url)
#optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide",wait_time = 1)

True

In [5]:
#set up the html parser
html = browser.html
news_soup = soup(html,"html.parser")
slide_elem = news_soup.select_one("ul.item_list li.slide")

In [6]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find("div",class_="content_title").get_text()
news_title

'Testing Proves Its Worth With Successful Mars Parachute Deployment'

In [7]:
# use the parent element to find the paragrph text
news_p = slide_elem.find("div",class_="article_teaser_body").get_text()
news_p

'The giant canopy that helped land Perseverance on Mars was tested here on Earth at NASA’s Wallops Flight Facility in Virginia.'

In [8]:
#space images url retrieve the images
# Visit URL
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

In [9]:
#find and click the full image button
full_image_elem = browser.find_by_tag("button")[1]
full_image_elem.click()

In [10]:
#parse the resulting html with soup
html = browser.html
img_soup = soup(html,"html.parser")

In [11]:
# Find the relative image url
img_url_rel = img_soup.find("img", class_="fancybox-image").get("src")
img_url_rel

'image/featured/mars3.jpg'

In [12]:
# Use the base URL to create an absolute URL
img_url = f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{img_url_rel}'
img_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'

In [14]:
df = pd.read_html("https://space-facts.com/mars/")[0]
df.columns =["description","value"]
df.set_index("description",inplace =True)

In [15]:
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [23]:
# return the values back to html format
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
    </tr>
    <tr>
      <th>description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [24]:
browser.quit()